.body{
    /* background-image: url('../../static/images/m10.jpeg');
    background-size: cover; */
    width: 250px;
    height: 50px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
.main{
    width: 800px;
}
.form1{
    width: 1600px;
   
}
.sidebar{
    width: 680px;
    height: 700px;
    background-image: url('../../static/images/m11.avif');
    background-size: cover;
}
.body1{
   
    background-image: url('../../static/images/m10.jpeg');
    background-size: cover;
}
.formwidth{
    width: 1500px;
}
.body2{
 background-image: url('../../static/images/m13.jpg');
 background-size: cover;
 

 
}
    
.form2{
    border-radius: 20px;
    border-width: 2px; border-color: rgb(189, 62, 62);
}

.body4{
    background-image: url('../../static/images/m6.jpeg');
    background-size: cover;
  }
.formnew{
    margin-left: 200px;
  }
  .nav1{
    background-color: #f4b2b2;
    height: 70px;
    width: 100%;
    
  }

.form{
  width: 100px;
  background-color: linear-gradient(90deg,red 70%,white 30%);
  margin-left: auto;
  
}
.body4{
  position: absolute;
  left: 200px;
  top : 200px;
}
.bg{
    background-image: url('../../static/images/m6.jpeg');
    background-size: cover;
}