{% extends "customer/master.html" %}
{% load static %}
{% block content %}
<div class="position-relative">
    <div class="position-absolute top-50 start-50">
<div class="container-fluid table">

<table class="table-danger mb-3" >
            
            <tbody class="mt-5" style="width:500px">
              <tr class="mb-5 mt-5">
                <th scope="row" class="col col-sm-10">First Name</th>
                <td>Mark</td>
                
              </tr>
              <tr>
                <th scope="row">Last Name</th>
                <td>Jacob</td>
                
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td colspan="2">Larry the Bird</td>
            </tr>
            <tr>
                <th scope="row">Phone Number</th>
                <td>Jacob</td>
                
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>Jacob</td>
                
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
          {% endblock %}
