{% extends "customer/master.html" %}
{% load static %}
{% block content %}

<!-- 
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Product</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %} 
    <tr>
      
     
      <td> <img src="{{ item.product.image.url }}" style="width:300px; height: 150px;"></td>
      <td>{{ item.product.product_name }}</td>
      <td>{{ item.product.product_description }}</td>
      <td>{{ item.product.price }}</td>
      
    </tr>
    {% endfor %}
  </tr> </tbody>
</table> -->

<h2 class="text-danger ms-5 mt-5">SHOPPING CART</h2>
<table>
  <thead>
    {% for item in items %}

    <tr>
      <div class="card mb-3 ms-5 mt-5" style="max-width: 840px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ item.product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.product.product_name }}</h5>
              <p class="card-text">{{ item.product.product_description }} <br> Household equipment, usually made of
                wood, metal, plastics, marble, glass, fabrics, or related materials
                and having a variety of different purposes</p>
                <p class="card-text"> {{ item.product.price }}</p>
              <input type="number" id="qty{{ forloop.counter }} " data-item="{{ item.product.id }}" min="1" value="1" max="{{ item.product.stock }}">Quantity
              <p>Total price : <input type="text" class="total_amt" value="{{ item.product.price }}" readonly id="amt{{ item.product.id }}"> </p>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="submit" class="btn btn-success">Save for later</button>

                <a href="{% url 'customer:remove_cart' item.id %}" class="btn btn-danger">Remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </tr>{% endfor %}


    <div class="card text-end" style="width: 18rem;">
      <div class="card-body">
        <input type="text" id="grand_total">Total Amount : 

      </div>
    </div>
    <div class="mx-auto text-center">
      <button type="submit" class="btn btn-warning ">Place order</button>
    </div>
  </thead>
</table>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
  displayTotalAmount()
  $.ajaxSetup({
    headers: {
      "X-CSRFToken": '{{ csrf_token }}'
    }
  })
  $('input').change(function(){
    let qty = $(this).val()
    let pid = $(this).attr('data-item')
    
    $.ajax({
      url : "{% url 'customer:total_price' %}",
      data : {
        'qty': qty,
        'pid' : pid
      },
      method : 'POST',
      success : function(response){
        $('#amt' + pid).val(response.amount)
        console.log(response.amount)
        displayTotalAmount()
      }

    })
  })
})

function displayTotalAmount(){
 let amount_text = document.getElementsByClassName('total_amt')
 let total = 0
 for(let i = 0; i<amount_text.length; i++)
 { 
  total = total + parseInt(amount_text[i].value)

 }
 document.getElementById('grand_total').value = total
 
}

</script>

{% endblock %}