{% extends "seller/master.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-FURNITURE</title>
    <link rel="stylesheet" href="{% static 'styles/body1.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'styles/form.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
     integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
     <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
</head>
<!-- <body style="background-image:linear-gradient(90deg,rgb(231, 158, 158)30%,rgb(210, 218, 154)70%);background-size: cover; width: 100%;height: 500px;"> -->
    <body style="background-image:url(../../static/images/m10.jpeg); background-size: cover; background-position: center;">
    <div class="container  text-primary" >
      <div class="row mb-5 mt-5">
        
        <div class="col col-sm-10" >
            <h3 class="text-danger">SELLER PROFILE</h3>
          <img src="{{ profile.seller_pic.url }}" style="width: 200px;">
        </div>
      </div> 
      <div class="row mb-5">
          <div class="col col-sm-2">
           <h5>First Name : </h5>
          </div>
          <div class="col col-sm-5">
          <input type="text" value="{{ profile.first_name }}">
          </div>
        </div> 
        <div class="row mb-5">
          <div class="col col-sm-2">
            <h5>  Last Name :</h5>
          </div>
          <div class="col col-sm-5">
            <input type="text" value="{{ profile.last_name }}">
          </div>
        </div> 
        <div class="row mb-5">
          <div class="col col-sm-2">
            <h5>  Address :</h5>
          </div>
          <div class="col col-sm-5 ">
            <input type="text" value="{{ profile.address }}">
          </div>
        </div> 
        <div class="row mb-5">
          <div class="col col-sm-2">
            <h5>   Phone :</h5>
          </div>
          <div class="col col-sm-5 ">
            <input type="text" value="{{ profile.phone }}">
          </div>
        </div> 
        <div class="row mb-5">
          <div class="col col-sm-2">
            <h5>  Email :</h5>
          </div>
          <div class="col col-sm-5 ">
            <input type="text" value="{{ profile.email }}">
          </div>
        </div> 
        <div class="row mb-5 mt-5">
        
            <div class="col col-sm-10 text-center" >
              <a href="{% url 'seller:profile_update' %}" class="btn btn-danger">Update Profile</a>
            </div>
          </div> 
      

</div>





    <!-- <div class="container-fluid">
        <div class="container text-center">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="row mb-5 mt-5">

                                <div class="col col-sm-10">
                                    <h3 class="text-danger"> Customer Profile</h3>
                                    <img src="{% static 'images/pro.jpeg' %}" style="width: 200px;">
                                </div>
                            </div>
                        </th>
                    </tr>

                    <tr>
                        <td>
                            <div class="row mb-5">
                                <div class="col col-sm-5">
                                    <h5>First Name : </h5>
                                </div>
                                <div class="col col-sm-5">
                                    <h5> {{ profile.first_name }} </h5>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row mb-5">
                                <div class="col col-sm-5">
                                    <h5> Last Name :</h5>
                                </div>
                                <div class="col col-sm-5">
                                    <h5> {{ profile.last_name }}</h5>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row mb-5">
                                <div class="col col-sm-5">
                                    <h5> Address :</h5>
                                </div>
                                <div class="col col-sm-5 ">
                                    <h5> {{ profile.address }}</h5>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row mb-5">
                                <div class="col col-sm-5">
                                    <h5> Phone :</h5>
                                </div>
                                <div class="col col-sm-5 ">
                                    <h5> {{ profile.phone }}</h5>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row mb-5">
                                <div class="col col-sm-5">
                                    <h5> Email :</h5>
                                </div>
                                <div class="col col-sm-5 ">
                                    <h5> {{ profile.email }}</h5>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                    
                    <tr><td>
                        <div class="row mb-5 mt-5">
                    <div class="col col-sm-10">
                        <button type="submit" class="btn btn-success">Update Profile </button>
                    </div>
        </div></td></tr>

        </tbody>
        </table>

    </table> -->
        {% endblock %}






