{% extends "seller/master.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-FURNITURE</title>
    <link rel="stylesheet" href="{% static 'styles/body1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/form.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
     integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
     <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="body2">
      


      <!-- <div  class="position-absolute top-100 start-50 translate-middle formwidth"> -->
        <div class="modal-header">
          
            <h1 class="modal-title fs-7 mb-3 text-danger" id="exampleModalToggleLabel">Stock Update</h1>
            
          </div>
      
    
         
        <div class="row mb-3">
          <label for="inputEmail3"  class="col-sm-2 col-form-label text-danger">Select Product No:</label>
          <div class="col-sm-6"> 
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <select id="fur" name="pid" id="cid">
                {% for product in products %}
                <option value="{{ product.id }}">{{ product.product_no }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3"  class="col-sm-2 col-form-label text-danger">Product Name</label>
          <div class="col-sm-6">
            <input type="text"  class="form-control" id="product_number">
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-danger">Current Stock</label>
            <div class="col-sm-6">
              <input type="text"   class="form-control" id="current_stock">
            </div></div>
            <form method="POST">
              {% csrf_token %}
        <div class="row mb-5">
                <label for="inputPassword3" class="col-sm-2 col-form-label text-danger">New Stock</label>
                <div class="col-sm-6">
                  <input type="number" min="1"  name="new_stock"  class="form-control" id="inputPassword3">
                </div> </div> 
                <div> 
                <button type="submit" class="btn btn-danger ">Submit</button>
                </div> 
            </form>
      </div>
    </div>
    </div>
</body></html>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <script>
    $(document).ready(function(){
      
      $.ajaxSetup({
        headers: {
          "X-CSRFToken": '{{ csrf_token }}'
        }
      })
      $('select').change(function(){
        let qty = $(this).val()
      
        
        $.ajax({
          url : "{% url 'seller:stock_number' %}",
          data : {
            'qty': qty,
            
          },
          method : 'POST',
          success : function(response){
            $('#product_number').val(response.pname) //$('#id name').val(response.key from views)
            
            $('#current_stock').val(response.pstock)
           
          }
    
        })
      })
    })
    
    
    
    </script>
    
{% endblock %}