{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-FURNITURE</title>
    <link rel="stylesheet" href="{% static 'styles/body.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
     integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    
    <div class="sticky-top">
    <!--NAV BAR START-->
<nav class="navbar navbar-expand-lg nav1">
    <div class="container-fluid">
      <a class="navbar-brand text-success fs-10 " style="font-family: Georgia, 'Times New Roman', Times, serif;" href="#"><i class="fa-sharp fa-solid fa-couch"></i>E-FURNITURE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto" role="search">
            <input class="form-control me-0" type="search" style="border-radius: 20px; width: 400px; height: 50px;" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="bi bi-search"></i></button>
          </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ecom_admin:home' %}"><i class="bi bi-house-fill"></i></a>
          </li>
          <li class="nav-item">
           
           <i class="bi bi-person-fill-check text-dark"></i>Approve Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ecom_admin:view_cus' %}">
           <i class="bi  bi-eye-fill text-dark"></i>View Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ecom_admin:view_sell' %}">
             <i class="bi  bi-eye-fill text-success"></i>View Seller </a>
          </li>
         
        </ul>
       </div>
    </div>
  </nav>
  </div>
  <!--NAV BAR END-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>

  {% block content %}
  {% endblock %}


  
 
